<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.hetekivi.rasian">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature
            android:name="android.hardware.nfc"
            android:required="false"/>

    <application
            android:allowBackup="true"
            android:configChanges="orientation|screenSize"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/AppName"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:theme">
        <activity
                android:name=".Activities.MainActivity"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/ActivityMainLabel"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Activities.FeedsActivity"
                android:label="@string/ActivityFeedsLabel"
                android:parentActivityName=".Activities.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.hetekivi.rasian.Activities.MainActivity"/>
        </activity>
        <activity
                android:name=".Activities.SettingsActivity"
                android:label="@string/ActivitySettingsLabel"
                android:parentActivityName=".Activities.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.hetekivi.rasian.Activities.MainActivity"
            />
        </activity>

        <receiver
                android:name=".Receives.UpdateReceiver"
                android:enabled="true"
                android:exported="true">
        </receiver>
        <receiver
                android:name=".Receives.BootReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name=".Receives.DownloadReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <activity
                android:name=".Activities.SaveLoadActivity"
                android:label="@string/ActivitySaveLoadLabel"
                android:parentActivityName=".Activities.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.hetekivi.rasian.Activities.MainActivity"
            />
        </activity>
        <activity android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity" />
    </application>

</manifest>
